{{ define "main" }}

<script type="text/javascript" src="/js/customizer/customizer.js"></script>
<link rel="stylesheet" href="../css/customizer.css" />

<div style="display: none">
  <img
    class="customized-char-part"
    id="customized-char-body"
    style="position: absolute; z-index: 1"
    src="/img/mao_shibisaki/stationary/body.png"
    alt=""
  />
  <img
    class="customized-char-part"
    id="customized-char-cheeks"
    style="position: absolute; z-index: 2"
    src="/img/mao_shibisaki/cheeks/cheeks2.png"
    alt=""
  />
  <img
    class="customized-char-part"
    id="customized-char-emotion"
    style="position: absolute; z-index: 3"
    src="/img/mao_shibisaki/emotion/emotion7.png"
    alt=""
  />
  <img
    class="customized-char-part"
    id="customized-char-mouth"
    style="position: absolute; z-index: 4"
    src="/img/mao_shibisaki/mouth/mouth1.png"
    alt=""
  />
  <img
    class="customized-char-part"
    id="customized-char-eyes"
    style="position: absolute; z-index: 5"
    src="/img/mao_shibisaki/eyes/eyes1.png"
    alt=""
  />
  <img
    class="customized-char-part"
    id="customized-char-sweat"
    style="position: absolute; z-index: 6"
    src="/img/mao_shibisaki/sweat/sweat3.png"
    alt=""
  />
  <img
    class="customized-char-part"
    id="customized-char-specs"
    style="position: absolute; z-index: 7"
    src="/img/mao_shibisaki/specs/specs1.png"
    alt=""
  />
  <img
    class="customized-char-part"
    id="customized-char-eyebrows"
    style="position: absolute; z-index: 8"
    src="/img/mao_shibisaki/eyebrows/eyebrows1.png"
    alt=""
  />
  <img
    class="customized-char-part"
    id="customized-char-forelock"
    style="position: absolute; z-index: 9"
    src="/img/mao_shibisaki/stationary/forelock-50.png"
    alt=""
  />

  <img src="/img/mao_shibisaki/cheeks/cheeks1.png" alt="" />
  <img src="/img/mao_shibisaki/cheeks/cheeks2.png" alt="" />
  <img src="/img/mao_shibisaki/emotion/emotion1.png" alt="" />
  <img src="/img/mao_shibisaki/emotion/emotion2.png" alt="" />
  <img src="/img/mao_shibisaki/emotion/emotion3.png" alt="" />
  <img src="/img/mao_shibisaki/emotion/emotion4.png" alt="" />
  <img src="/img/mao_shibisaki/emotion/emotion5.png" alt="" />
  <img src="/img/mao_shibisaki/emotion/emotion6.png" alt="" />
  <img src="/img/mao_shibisaki/emotion/emotion7.png" alt="" />
  <img src="/img/mao_shibisaki/mouth/mouth1.png" alt="" />
  <img src="/img/mao_shibisaki/mouth/mouth2.png" alt="" />
  <img src="/img/mao_shibisaki/mouth/mouth3.png" alt="" />
  <img src="/img/mao_shibisaki/mouth/mouth4.png" alt="" />
  <img src="/img/mao_shibisaki/mouth/mouth5.png" alt="" />
  <img src="/img/mao_shibisaki/mouth/mouth6.png" alt="" />
  <img src="/img/mao_shibisaki/mouth/mouth7.png" alt="" />
  <img src="/img/mao_shibisaki/mouth/mouth8.png" alt="" />
  <img src="/img/mao_shibisaki/mouth/mouth9.png" alt="" />
  <img src="/img/mao_shibisaki/mouth/mouth10.png" alt="" />
  <img src="/img/mao_shibisaki/mouth/mouth11.png" alt="" />
  <img src="/img/mao_shibisaki/mouth/mouth12.png" alt="" />
  <img src="/img/mao_shibisaki/eyes/eyes1.png" alt="" />
  <img src="/img/mao_shibisaki/eyes/eyes2.png" alt="" />
  <img src="/img/mao_shibisaki/eyes/eyes3.png" alt="" />
  <img src="/img/mao_shibisaki/eyes/eyes4.png" alt="" />
  <img src="/img/mao_shibisaki/eyes/eyes5.png" alt="" />
  <img src="/img/mao_shibisaki/eyes/eyes6.png" alt="" />
  <img src="/img/mao_shibisaki/eyes/eyes7.png" alt="" />
  <img src="/img/mao_shibisaki/eyes/eyes8.png" alt="" />
  <img src="/img/mao_shibisaki/eyes/eyes9.png" alt="" />
  <img src="/img/mao_shibisaki/eyes/eyes10.png" alt="" />
  <img src="/img/mao_shibisaki/sweat/sweat1.png" alt="" />
  <img src="/img/mao_shibisaki/sweat/sweat2.png" alt="" />
  <img src="/img/mao_shibisaki/sweat/sweat3.png" alt="" />
  <img src="/img/mao_shibisaki/specs/specs1.png" alt="" />
  <img src="/img/mao_shibisaki/specs/specs2.png" alt="" />
  <img src="/img/mao_shibisaki/eyebrows/eyebrows1.png" alt="" />
  <img src="/img/mao_shibisaki/eyebrows/eyebrows2.png" alt="" />
  <img src="/img/mao_shibisaki/eyebrows/eyebrows3.png" alt="" />
  <img src="/img/mao_shibisaki/eyebrows/eyebrows4.png" alt="" />
  <img src="/img/mao_shibisaki/eyebrows/eyebrows5.png" alt="" />
</div>

<canvas
  id="customized-canvas"
  width="985"
  height="2197"
  style="display: none"
></canvas>

<section class="section">
  <div class="tile is-ancestor">
    <div class="tile is-4 is-parent">
      <img id="customized-char" src="" alt="" width="300" />
    </div>
    <div class="tile is-parent is-vertical">
      <div class="tile is-child box" id="icons-area"></div>
      <div class="tile is-child box" id="icons-selection-area">
        <div class="tile is-child box" id="icons-cheeks"></div>
        <div class="tile is-child box" id="icons-emotion"></div>
        <div class="tile is-child box" id="icons-mouth"></div>
        <div class="tile is-child box" id="icons-eyes"></div>
        <div class="tile is-child box" id="icons-sweat"></div>
        <div class="tile is-child box" id="icons-specs"></div>
        <div class="tile is-child box" id="icons-eyebrows"></div>
      </div>
    </div>
  </div>
</section>

<canvas id="option-canvas" style="display: none"></canvas>

{{ end }}
