<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        {{ $.Site.Title }}
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarUnSe">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarUnSe" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="/characters">
            Characters
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/characters/shibisaki_mao">
              Shibisaki Mao
            </a>
          </div>
        </div>
        <a class="navbar-item" href="/tiles">
          Tiles
        </a>
        <a class="navbar-item" href="/customizer">
          Customizer
        </a>
      </div>
    </div>
  </div>
</nav>